/* Module base */
.tdm_content{
	font-family:Verdana;
	font-size:12px;
	margin: 0px auto 20px auto !important; 
	position:relative; display:block!important;\
}
table{font-family:Verdana; font-size:12px; border-collapse:collapse;}
.tdm_content h1{font-family:Calibri!important; display:inline-block; color:#585858!important; font-weight:bold; font-size:20px!important; text-shadow:0px 0px 2px #ffffff; margin:15px 0px 12px 0px; }
.tdm_content h2{font-family:Verdana!important; color:#585858!important; font-weight:bold; font-size:14px!important; text-shadow:0px 0px 2px #ffffff;}
.tdm_content a{color:#0086a7; text-decoration:none;}
.tclear{clear:both;}
.fnta{font-family:Arial!important;}
.gtx1{color:#b4b4b4;} .gtx2{color:#838383;} .gtx3{color:#4c4c4c;}
.tderror{color:#ffffff; clear:both!important; text-shadow:1px 1px 1px #1C1C1C; font-family:Verdana; line-height:20px; background:#EB946C url(media/images/small_gradient.png) left bottom repeat-x; margin:10px 20px 16px 0px; font-size:13px; padding:8px 16px 8px 16px; display:inline-block;   box-shadow:inset 0 0 0 1px #faad8a, 0 0 0 1px #c87e5e, 2px 2px 4px rgba(0,0,0,0.3); -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.tderror a{color:#ffffff!important; text-shadow:1px 1px 2px #cc0000!important;}
.tderror a:hover{text-decoration:underline!important;}
.tdnote{color:#ffffff; text-shadow:1px 1px 2px #000000; font-family:Verdana; margin:4px 20px 16px 0px; clear:both!important; font-size:12px; padding:8px 16px 8px 16px; background:#9cca67 url(media/images/small_gradient.png) left bottom repeat-x; display:inline-block; box-shadow:inset 0 0 0 1px #9cca67, 0 0 0 1px #648643, 2px 2px 4px rgba(0,0,0,0.3); -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px;}
.tdnote a{color:#ffffff!important;}
.tdm_content hr{padding:0px; margin:6px 0px 18px 0px!important; color:#ffffff; height:1px; background:#ffffff; border-bottom:1px solid #c3c3c3; border-top:0px; border-left:0px; border-right:0px;}
.tarig{text-align:right;}
.hlight{color:#e10202!important; font-family:Courier New!important; text-decoration:none!important; text-shadow:1px 1px 2px #ffffff;}
.hlight:hover{text-decoration:underline!important;}
.empty{font-style:italic; color:#838383;}
.codetext{font-family:Courier New; text-decoration:none;}
.nowrp{white-space:nowrap;}
.dblock{display:block;}
.flrig{float:right; display:block;}
.tiptext{font-size:11px; color:#747474;} .tiptext a{color:#747474;}
.bglink{color:#434343 !important; text-decoration:none; font-size:14px;  margin-left:10px;}
.bglink:hover{color:#0e47a5 !important; text-shadow:1px 1px 3px #ffffff!important;text-decoration:none!important;  margin-left:0px;}
.SeoText{padding:10px 0px 20px 0px;}
.option_clear{float:left; width:16px; height:16px; margin-right:4px;}
.editprice{color:#379C08!important; text-decoration:none;} .editprice:hover{text-decoration:underline;}
.breadcumbs{margin:0px 0px 10px 0px; font-size:12px; font-family:Arial; color:#c1c1c1;}
.breadcumbs a{color:#5e5e5e;} .breadcumbs a:hover{color:#0e47a5 !important; text-shadow:1px 1px 3px #ffffff!important;text-decoration:none!important;}
.autopic{width:90px; height:90px; right:20px; top:0px; position:absolute; background-position:center center!important; background-repeat:no-repeat!important;}
.addprice{display:block; float:right; color:#fff!important; background:#C9C9C9; padding:2px 6px 4px 6px; margin-right:8px; border-radius:4px; text-decoration:none; font-size:11px; text-shadow:1px 1px 2px #424242;}
.addprice:hover{background:#E8842C;}
.tdsform{font-size:14px!important; padding:3px 10px 3px 10px!important; margin:0px 0px 0px 0px!important; border:1px solid #BFBFBF;}
.tdsbut{font-size:14px!important; padding:3px 10px 3px 10px!important; margin:0px 0px 0px 0px!important; border:1px solid #BFBFBF; cursor:pointer;}

/* Pagination */
.pagination{margin:0px 0px 15px 0px; float:left; border:0px solid #000;}
.pagination .pagetext{float:left; margin:12px 10px 0px 0px;}
.pagination .totaltext{float:left; margin:12px 0px 0px 15px;}
.pagination .diapazon{float:left; padding:0px 6px 0px 6px; margin-top:12px;}
.pagination a{display:block; float:left; padding:6px 8px 6px 8px; margin:5px; color:#000!important; font-family:Arial;
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#c8c8c8));
	background-image: linear-gradient(#fff, #c8c8c8);
	border:1px solid #ffffff; -moz-border-radius:3px; -webkit-border-radius:3px; border-radius:3px;
	-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.4); -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.4); box-shadow:1px 1px 4px rgba(0,0,0,0.4);
}
.pagination a:hover{color:#125E87!important; text-decoration:none; background:#fff;}
.pagination .active{color:#b42410!important; font-weight:bold;
	background: -webkit-gradient(linear, center top, center bottom, from(#c8c8c8), to(#fff));
	background-image: linear-gradient(#c8c8c8, #fff);
	-moz-box-shadow:1px 1px 2px rgba(0,0,0,0.2); -webkit-box-shadow:1px 1px 2px rgba(0,0,0,0.2); box-shadow:1px 1px 2px rgba(0,0,0,0.2);
}

/* Catalog table */
.corp_table{font-family:Verdana; font-size:12px; color:#464646!important; border-collapse:collapse;}
.corp_table .head td{height:40px; padding:0px 6px 0px 6px; border-right:1px solid #d9d9d9; background:#ffffff url(media/images/gradient.png) left bottom repeat-x!important; vertical-align:middle!important;}
.corp_table .gtr:hover{background:#e7f2f4 !important;}
.corp_table .gtr a:hover{text-decoration:none !important;}
.corp_table .pads td{padding:4px 10px 4px 10px!important;}


/* Prices options */
.opstab{padding:0px!important; margin:0px!important;border-collapse:collapse!important; min-width:1px!important; }
.option_SET{float:left; color:#000!important; padding:1px 2px 1px 2px; line-height:16px; background:#F2D5C9; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}
.option_WEIGHT{float:left; color:#000!important; padding:1px 2px 1px 2px; line-height:16px; background:#DAF0CC; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}
.option_USED{float:left; color:#000!important; padding:1px 3px 1px 3px; line-height:16px; background:#CCDDF0; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}
.option_RESTORED{background:url('media/images/restored.png') no-repeat; float:left; width:16px; height:16px; margin-right:4px;}
.option_DAMAGED{background:url('media/images/damaged.png') no-repeat; float:left; width:16px; height:16px; margin-right:4px;}
.option_NORETURN{background:url('media/images/noreturn.png') no-repeat; float:left; width:16px; height:16px; margin-right:4px;}
.option_COPY{background:url('media/images/copy.png') no-repeat; float:left; width:16px; height:16px; margin-right:4px;}
.option_HOT{background:url('media/images/hot.png') no-repeat; float:left; width:16px; height:16px; margin-right:4px;}
.option_PERCENTGIVE{float:left; color:#000!important; padding:1px 2px 1px 2px; line-height:16px; background:#E7CCF0; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}
.option_MINIMUM{float:left; color:#000!important; padding:1px 2px 1px 2px; line-height:16px; background:#CCF0EE; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}
.option_LITERS{float:left; color:#000!important; padding:1px 2px 1px 2px; line-height:16px; background:#F0E0CC; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}
.option_PRICE_ID{float:left; color:#000!important; padding:1px 3px 1px 3px; line-height:16px; border-radius:4px; font-size:11px; font-family:Calibri; white-space:Arial; cursor:default; margin-right:4px; white-space:nowrap;}

/* ARTICLE kinde names */
.artkind_trade{color:#0065D9;}
.artkind_original{color:#DE4A00;}
.artkind_analog{color:#278A00;}
.artkind_barcode{color:#A400D1;}

/* Characteristics table */
.chartab{margin:0px 0px 20px 0px; box-shadow:4px 4px 2px #d3d3d3; border-collapse:collapse;}
.chartab td{font-size:11px; background:#EDEDED; padding:6px 10px 6px 10px; border:1px solid #a8a8a8;}
.chartab a{color:#326390; text-decoration:none;}
.chartab .head td{font-weight:bold; font-size:12px; cursor:pointer; white-space:nowrap; height:37px; text-shadow:1px 1px 1px #ffffff; border-top:0px solid #a8a8a8;
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#B3B3B3));
	background-image: linear-gradient(#fff, #B3B3B3);
}
.chartab a:hover{color:#D13000; text-decoration:underline;}
.chartab .rows:hover td{background:#ffffff!important;}
.chartab tr td:first-child{border-left:0px!important;}
.chartab tr td:last-child{border-right:0px!important;}
.chartab_b td{font-size:14px!important;}

/* Add to cart buttons */
.tdcartadd{display:block!important; background:url('media/images/cart.gif') no-repeat; width:19px; height:19px;}
.tdcartadd:hover{background:url('media/images/carth.gif');}
.tdcartadded{background:url('media/images/badd.png') no-repeat; width:19px; height:19px;}
.tdorder{display:block!important; float:right; color:#000!important; padding:4px 38px 0px 10px; background:#CFD7E3 url('media/images/cart.gif'); height:19px;
	margin:10px 10px 6px 0px; background-position:right 10px top; background-repeat:no-repeat; border:1px solid #fff; border-radius:8px; box-shadow:2px 2px 3px #d3d3d3;  clear:both; 
}
.tdorder:hover{background:#E3D2CF url('media/images/carth.gif'); color:#AB2500!important; background-position:right 10px top; background-repeat:no-repeat; box-shadow:0px 0px 0px #d3d3d3;}
.tdordered{background:url('media/images/badd.png') no-repeat; width:19px; height:19px;}
