
.modelsdiv{width:212px; height:140px; float:left; background-color:#ffffff!important; margin:0px 12px 22px 10px; background-repeat:no-repeat!important; background-position:top center!important; -moz-border-radius:8px; border-radius:8px; -moz-box-shadow:2px 2px 8px rgba(0,0,0,0.2); -webkit-box-shadow:2px 2px 8px rgba(0,0,0,0.2); box-shadow:2px 2px 8px rgba(0,0,0,0.2);}
.modelname{margin-top:90px; text-align:center; font-weight:bold; font-size:11px;}
.ampick{display:block; text-align:center; background:#efefef; overflow:hidden; height:21px!important; line-height:18px!important; text-decoration:underline!important; font-size:12px!important; padding:3px 12px 0px 12px; margin:4px 0px 0px 0px!important; color:#5e5e5e!important; font-family:Arial!important;}
.ampick:hover{text-decoration:none!important;}

/* Drop down menu */
.ddmodel{margin:4px 0px 0px 0px; padding:0; }
.ddmodel li{width:212px!important; text-align:center; list-style:none; float:left; font-size:12px!important; font-family:Arial!important;}
.ddmodel li a:link, .ddmodel li a:visited{display:block; text-decoration:none; background:#efefef url(images/ddarrow.png) 9px 8px no-repeat; padding:5px 0px 5px 0px; margin:0; color:#225a9a;}
.ddmodel li a:hover{background-color:#dadada;}
.ddmodel li ul{width:282px!important; margin:0px 0px 0px -30px; position:absolute; display:none; border-top:1px solid #ababab; padding:0;}
.ddmodel li ul li{display:inline; float:none;}
.ddmodel li ul li a:link, .ddmodel li ul li a:visited{background-color:#656565; color:#ffffff; padding:9px 10px 9px 10px; background-image:none!important; font-size:11px!important; font-family:Arial!important; text-align:left; width:auto;  -webkit-box-shadow:2px 2px 5px rgba(0,0,0,0.5); box-shadow:2px 2px 5px rgba(0,0,0,0.5);}
.ddmodel li ul li a:hover{background-color:#9b9a9a; text-shadow:1px 1px 1px #353535;}


.modelsfilter{margin:0 0 10px; overflow: hidden; }
.modelsfilter a, #countries-table tr{
	transition: background-color 0.3s ease-in-out;
	-moz-transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
}
.modelsfilter a{color:#757575!important; font-family:Arial;
	background: url("images/filterbg.png") no-repeat 0 0px;
	width: 36px; float: left; color: #686867; cursor: pointer; height: 35px; margin-top: 2px; font-size: 12px;
	font-weight: bold; text-align: center; line-height: 34px; text-shadow: 0 1px 0 white; text-decoration: none; background-color: #F1F1F1;
}
.modelsfilter a.first{border-radius: 3px 0 0 3px;}
.modelsfilter a.last{border-right: 1px solid silver; border-radius: 0 3px 3px 0;}
.modelsfilter a:hover{background-position: -36px;}
.modelsfilter a.active {background-position: -72px;}